@import "./base/_reset";
  
  body {
    margin: 0;
  }
  
  .container{
    display: grid;
    grid-template-areas:
    "header" 
    "main" 
    "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
  
  }

  .cover{
    width:70%;
    border: 1px solid #000;
    align-items: center;
    margin:auto;
  }
  .cover img{
    width:100%;
    text-align:center;
  }

  header{
    
    .nav-link{
      text-decoration: none;
      font-size: 12px ;
      letter-spacing: 1px;
      color: black;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      font-weight:600;
      }
      
      .navbar-nav .nav-link:hover{
        color: #4ecdc4 !important;
      }
      .navbar-nav .nav-link {
            color: #000 !important;
            margin-left:20px;
            margin-top:30px;
            margin-bottom:20px;
        }
      ul {
       list-style: none;
       font-size:0;
            li {
                display: inline-block;
                position:relative;
                a{
                    color: #000;
                    text-decoration: none;
                    a:hover{
                        color: #fff;
                      }
                  }
            }
      }
  }
  

  .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top:50px;
    
  }

  
  main{
    background-color:#fff;
    grid-area: main;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    #title{
        margin-top:70px;
      }
      
      .title{
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        font-size:11px;
        margin-top:30px;
        margin-bottom:60px;
        text-align:center;
      }

      .titleh1{ 
        color: #000;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        margin-top:20px;
      
      }
  }
  
  .container{
    .section_cards{
        align-items: center;
        border:none !important;
        text-align: center;
      }
      
      .section_cards h3{
        font-size: 13px;
        line-height: 1px;
        font-family: 'Poppins', sans-serif;
        padding-top: 30px;
        padding-bottom: 30px;
        letter-spacing: 2px;
        font-weight: bold;
       
      }
      
      .section_cards img{
        width: 60%;
        border: 1px solid #000;
      }
      
      .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        text-align: center;
      
      }
      
      .cards_img{
        transition: .7s;
      }
      
      .cards_img img{
        display: block;
      }
      
      .cards_img:hover{
        cursor:pointer;
        transform: scale(1.1);
      }
      
      .cards_img img:hover{
        border-radius:2px;
        }
      
      .section__main__card__img{
        width: 60%;
        border: 1px solid #000;
      }

  }
  

  
  
  footer{
    width: 100%;
    background-color: #fefba3;
    clear: both;
    text-align:center;
    height: 200px;
    padding-top: 60px;
    position: relative;
    margin-top: 80px;
  
  }
  
  .social{
    width:50%;
    float:left;
  }
  
  .social__link{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 11px;
  }
  
  .info{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    padding-top: 40px;
    padding-bottom: 40px
  }
  
  .nosotros{
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img{
      width:50%;
      border: 1px solid #000;
      margin-top: 40px;
      margin-bottom: 40px;
      transition: .7s;
    }

  }

  .nosotrostxt{
    width:40%;
  }
  
  .nosotros img:hover{
    cursor:pointer;
    transform: scale(1.1);
  }
  
  @media screen and (max-width: 800px) {
  
    .nosotros img{
      width: 400px;
  }
  
  .nosotrostxt{
    width:80%;
  }
  
    .navbar li a {
      font-size: 1rem;
    }
   
    .card{
      width: 40%;
      justify-content:space-around;
    }
  
    .encabezado .nav-link{
        margin: 0px;
    
    }
  
    .cover{
        width:90%;
    }
    
    .menu{
        width:100% !important;
    }
    
  }
  
  @media screen and (max-width: 1200px) {
  
    .encabezado .nav-link{
        margin: 0px;
    
    }
    
    
  }
  
  
  
  .social >a{
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    text-decoration: none;
    margin:10px;
    transition: 0.4s;
    color:#000 !important;
  }
  
  
  .social >a:hover{
   transform:translateY(-10px);
   color: #4ecdc4 !important;
  }
  
  
  .menu{
     width:40%;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
  }
  
  .menu-txt{
     width:60%;
     margin:auto;
     padding-bottom: 30px;
     padding-top: 30px;
     font-family:'Poppins', sans-serif;
     font-size:12px;
     letter-spacing:1px;
     text-align:center;
  }
  
  .menu h2{
     color:#4ecdc4;
  }
  
  .precio{
     font-weight: bold;
  }
  
  .blog{
     width:40%;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
  }
  
  .blog{
     width: 60%;
     margin-left:auto;
     margin-right:auto;
  }
  
  .blog-txt{
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     padding-bottom: 30px;
     padding-top: 30px;
     float: left;
  }
  
  .blog-txt img{
     width:400px;
     border: 1px solid #000;
     float: left;
     margin-right: 30px;
     margin-bottom: 20px;
  }
  
  .blog-txt p{
     letter-spacing: 1px;
     margin-bottom: 10px;
     margin-right: 20px;
     text-align: left;
     font-family:'Poppins', sans-serif;
     font-size:12px;
     width: 80%;
  }
  
  .contacto{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .contacto h1{
    padding-bottom: 30px;
  }
  
  .input_form{
    margin-top: 10px;
    width: 60%;
    height: 40px;
    font-family:'Poppins', sans-serif;
    padding-left: 10px;
  }
  
  .input_mensaje{
    margin-top: 20px;
    width: 60%;
    height: 120px;
    font-family:'Poppins', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
  }
  
  .input_enviar{
    margin-top: 10px;
    width: 30%;
    height: 50px;
    background-color:#ddfbf9;
    font-family:'Poppins', sans-serif;
  }
  
  .navbar_header{
    margin-bottom: 30px;
    margin-top: 30px;
  }
  